
@{
    ViewBag.Title = "Insert";
}

<form class="form-group" method="post">
    <br />
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="CategoryName" />
    </div><br />
    <div style="margin-top:15px">
        <button class="btn btn-info">Kategori Ekle</button>
    </div>
</form>
