
@{
    ViewBag.Title = "Insert";
}

<form class="form-group" method="post">
    <br />
    <div>
        <label>Yazar Adı</label>
        <input type="text" class="form-control" name="FirstName" />
    </div><br />
    <div>
        <label>Yazar Soyadı</label>
        <input type="text" class="form-control" name="LastName" />
    </div><br />
    <div style="margin-top:15px">
        <button class="btn btn-info">Yazar Ekle</button>
    </div>
</form>

